/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea/.name
.idea/workspace.xml
.idea/Laravel5.iml
.idea/modules.xml
.idea/blade.xml
.idea/vcs.xml
.idea/misc.xml
public/uploads/7w6tnNfBdJ.jpg
public/uploads/V4aXj69qqc.jpg
